footer.footer
        .footer-left
          h5
            | контакты
          p
            | Работаем с 10 : 00 до 20 : 00 по Москве
            br
            | Aдрес офиса: г. Москва улица Покровка 26/1
        .footer-center
          h5
            | мы в социальный сетях
          div.footer-center-icons
            div.footer-center-icon
              i(class="fab fa-vk")
            div.footer-center-icon
              i(class="fab fa-twitter")
            div.footer-center-icon
              i(class="fab fa-facebook-f")
        .footer-right
          a(href="#")
            h5
              | о нас
          a(href="#")
            p
              | О компании
          a(href="#")
            p
              | Контакты
