header.header
  .header__logo
    img(src='/images/headerLogo.png')
  .header__input
    input(type="text" placeholder="поиск")
  .header-phone
    .header-phone__icons-and-phone
      .header-phone__icons
        img(src="/images/viber.png", alt="")
        img(src="/images/telegram.png", alt="")
        img(src="/images/whatsapp.png", alt="")
      .header-phone__top-phone
        p 8 (955) 036-90-08
    .header-phone__bottom-phone
        p 8 (499) 955-43-35

nav.navBar
  ul
    li.navBar__active-li
      | Контакты
    li
      | О нас
    li
      | Гарантии и тех. обслуживание
    li
      | Статьи
.wrapper-navBar2
  nav.navBar2.container
    .row.justify-content-center
      .navBar2-column.col-md-.m-1
        .navBar2-row#navBar2-id1
          p
            | холодильные камеры
          .navBar2__arrow
        .navBar2__hidden-menu
          a(href="#")
            p
              | some link1
          a(href="#")
            p
              | some link2
          a(href="#")
            p
              | some link3
        .navBar2-row#navBar2-id2
          p 
            | морозильные камеры
          .navBar2__arrow
    
      .navBar2-column.col-md-.m-1
        .navBar2-row#navBar2-id3
          p
            | Выносной, промышленный, агро-холод
          .navBar2__arrow
        .navBar2-row#navBar2-id4
          p 
            | Холодильные, морозильные склады
          .navBar2__arrow
    
      .navBar2-column.col-md-.m-1
        .navBar2-row#navBar2-id5
          p
            | Услуги
          .navBar2__arrow
        .navBar2-row#navBar2-id6
          p
            | Карта сайта
          .navBar2__arrow